# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploaded files
api/uploads/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
python/venv/
python/.env

# Generated reports
api/reports/

.env